# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# MLflow
mlruns/
mlartifacts/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE / editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (uncomment if you don't want to track datasets)
# *.csv

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/